
<div class=" grid place-content-center pt-10 ">
    <div class="flex justify-center">
        <h1 class="mb-4 text-4xl font-extrabold text-gray-900">Contacto</h1>
    </div>

    <div class="p-10 ">

        <div class="mb-6">
            <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 ">Nombre</label>
            <input type="text" id="default-input" class="tamaño bg-gray-50 border border-gray-700 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500">
        </div>
        <div class="mb-6">
            <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 ">Correo</label>
            <input type="text" id="default-input" class="tamaño bg-gray-50 border border-gray-700 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500">
        </div>
        <div class="mb-6">
            <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 ">Asunto</label>
            <input type="text" id="default-input" class="tamaño bg-gray-50 border border-gray-700 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500">
        </div>
    
    </div>
</div>

